/* Propiedades globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía */

body {
  font-family: "Manrope", sans-serif;
  margin-bottom: 40px;
}

/* Home */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

/* Biografía */

.biography {
  width: 700px;
  margin: 0 60px;
}

.biography h1 {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin-bottom: 6px;
}

.biography h2 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 12px;
  background-color: rgb(241, 240, 240);
}

h2 strong {
  color: #779ecb;
}

.biography p {
  letter-spacing: 0.6px;
  line-height: 24px;
  margin-bottom: 12px;
}
/* Enlaces debajo de la biografía */

.links {
  background-color: rgb(241, 240, 240);
}

a {
  text-decoration: none;
  font-weight: 800;
  color: #779ecb;
}

a:hover {
  color: #4671a3;
}

.links i {
  color: black;
  font-size: 1.4rem;
  margin: 8px;
  cursor: pointer;
}

.frontend-mentor {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0 8px;
}

/* Conocimientos adquiridos */

.knowledge {
  width: 700px;
}

.knowledge h1 {
  text-align: center;
  letter-spacing: 8px;
  margin-bottom: 12px;
  font-weight: 500;
}

.knowledge img {
  width: 150px;
  height: 150px;
  margin: 8px;
  padding: 8px;
  border: 2px solid rgb(241, 240, 240);
  border-radius: 12px;
  box-shadow: 0px 10px 11px 0px rgba(241, 241, 240, 0.97);
  -webkit-box-shadow: 0px 10px 11px 0px rgba(241, 241, 240, 0.97);
  -moz-box-shadow: 0px 10px 11px 0px rgba(241, 241, 240, 0.97);
  transition: 0.1s ease-in;
}

.knowledge img:hover {
  transform: translateY(-10px);
}

/* Flecha hacia abajo */

.arrow {
  display: flex;
  justify-content: center;
  
}

.arrow a {
  font-size: 0.9rem;
  color: black;
  font-style: italic;
  opacity: .7;
  text-align: center;
}

.fa-chevron-down:hover {
  background-color: rgb(233, 233, 233);
}

.fa-chevron-down {
  font-size: 2rem;
  background-color: rgb(241, 240, 240);
  border-radius: 100%;
  padding: 16px;
  cursor: pointer;
  margin-top: 8px;
}

/* Comienzan los estilos del portafolio */

.portfolio__container {
  margin-top: 40px;
}

.portfolio__container h2 {
  font-size: 2rem;
  letter-spacing: 12px;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 10px;
  padding: 6px 20px;
}

.portfolios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilos de cada portafolio */

.projects {
  background-color: #fff;
  color: black;
  max-width: 460px;
  margin: 10px 20px;
  padding: 6px 20px;
  text-align: justify;
  border: 1px solid rgba(241, 241, 240, 0.97);
  box-shadow: 0px 10px 11px 0px rgba(241, 241, 240, 0.97);
  -webkit-box-shadow: 0px 10px 11px 0px rgba(241, 241, 240, 0.97);
  -moz-box-shadow: 0px 10px 11px 0px rgba(241, 241, 240, 0.97);
  transition: 0.1s ease-in;
}

.projects:hover {
  transform: translateY(-10px);
}

.projects h3 {
  font-size: 1.2rem;
  margin: 8px 0;
}

.projects img {
  max-width: 420px;
  margin: 6px 0;
  border-radius: 4px;
}

.projects img:hover {
  opacity: 0.8;
}
.projects p {
  font-size: 0.9rem;
  margin-bottom: 18px;
}

.projects button {
  font-size: 1rem;
  background-color: rgba(241, 241, 240, 0.97);
  border: 1px solid rgba(241, 241, 240, 0.97);
  margin: 0 2px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 4px 10px;
  width: 100px;
}

.link-to-github {
  margin-top: 18px;
  text-align: center;
}

/* Estilos responsive */

@media screen and (max-width: 1440px) {
  .knowledge img {
    width: 120px;
    height: 120px;
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
  }
  .biography h1 {
    font-size: 2rem;
  }

  .biography h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 0.7rem;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
  }
  .biography h1 {
    font-size: 1.2rem;
  }

  .biography h2 {
    font-size: 0.8rem;
  }
  .biography {
    max-width: 400px;
    margin: 8px;
  }
  .biography p {
    line-height: 18px;
  }
  .knowledge {
    max-width: 410px;
  }
  .knowledge h1 {
    font-size: 1rem;
    font-weight: 400;
  }
  .knowledge img {
    width: 60px;
    height: 60px;
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
  }
  .knowledge img:hover {
    transform: translateY(-6px);
  }
  .arrow {
    display: none;
  }
  .projects:hover {
    transform: translateY(-2px);
  }
  .projects {
    max-width: 400px;
  }
  .projects img {
    max-width: 360px;
    margin: 6px 0;
    border-radius: 4px;
  }
}
